@import "./reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/orange";

body {
    font: var(--font-m);
    color: var(--text);
}

.app {
    min-height: 100%;
    background: var(--bg);
}

.content-page {
    display: flex;
}
