.title {
    color: var(--text);
}

.text {
    color: var(--text);
}

.error {
    .title {
        font: var(--font-l);
        color: var(--red-light);
    }

    .text {
        font: var(--font-m);
        color: var(--red-dark);
    }
}

.accent {
    .title {
        font: var(--font-l);
        color: var(--accent);
    }

    .text {
        font: var(--font-m);
        color: var(--accent);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.size_s {
    .title {
        font: var(--font-s);
    }

    .text {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}
