.Code {
    padding: 20px;
    position: relative;
    background: var(--light-bg);
    overflow: auto;
    border: 1px solid var(--accent);
    border-radius: 16px;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--icon);
}

@media (max-width: 1160px) {
    .Code,
    .Code code {
        padding: 16px;
        white-space: pre-wrap;
        word-break: break-word;
    }

    .copyBtn {
        top: 12px;
        right: 12px;
    }
}

@media (max-width: 530px) {
    .Code,
    .Code code {
        padding: 8px;
    }

    .copyBtn {
        top: 8px;
        right: 8px;
    }
}
