.app_dark_theme {
    --dark-bg: #090949;
    --bg: #0c1214;
    --light-bg: #151c1f;
    --text: #bddbdb;
    --hint: #555;
    --cancel: #d95757;
    --save: #6cd98b;
    --icon: #74a2b2;
    --accent: #5ed3f3;

    // old style
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #041c65;
    --inverted-secondary-color: #0449e0;
    --skeleton-shadow: #1515ad;
    --skeleton-color: #2b2be8;
    --code-bg: #1212a1;
    --card-bg: #0d0d6b;
    --listbox-bg: #0d0d6b;
}
