.app_orange_theme {
    --dark-bg: #fff3d6;
    --bg: #f0c048;
    --light-bg: #f2d791;
    --text: #1b1311;
    --hint: #b8b2a2;
    --cancel: #ff5e5e;
    --save: #52fa81;
    --icon: #4875f0;
    --accent: #1d59ff;

    // old style
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;
    --skeleton-shadow: #fff;
    --skeleton-color: rgba(0 0 0 / 20%);
    --code-bg: #fff;
    --card-bg: #e8e8ea;
    --listbox-bg: #e8e8ea;
}
