.MainLayout {
    min-height: 100%;
    display: grid;
    grid-template-areas: "sidebar content rightbar";
    grid-template-columns: min-content 1fr 100px;
}

.sidebar {
    grid-area: sidebar;
    padding: 32px;
    max-width: 284px;
}

.content {
    grid-area: content;
    justify-self: center;
    max-width: 1200px;
    width: 100%;
    padding: 32px;
}

.rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.toolbar {
    height: 100%;
    width: 100%;
}

@media (max-width: 1180px) {
    .MainLayout {
        overflow-x: scroll;
    }
}

@media (max-width: 895px) {
    .MainLayout {
        min-height: 100%;
        display: grid;
        grid-template-areas: "sidebar content rightbar";
        grid-template-columns: min-content 1fr 75px;
    }

    .content {
        padding: 5px;
    }

    .sidebar {
        padding: 5px;
    }
}

@media (max-width: 758px) {
    .MainLayout {
        min-height: 100%;
        display: grid;
        grid-template-areas: "sidebar content rightbar";
        grid-template-columns: min-content 1fr 75px;
        overflow-y: scroll;
    }
}
