.ProfileCard {
    padding: 20px;
    border-radius: 32px;
    background: var(--dark-bg);
}

.loading,
.error {
    height: 300px;
}

@media (max-width: 769px) {
    .ProfileCard {
        padding: 5px;
    }

    .ProfileCardInputs {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
