.CommentCard {
    padding: 15px;
    background: var(--light-bg);
    border-radius: 42px;
}

.header {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 10px;
}

.loading {
    border: none;
}
